.alert {
  &.last,
  &.empty {
    margin-bottom: 0;
  }

  p:last-child {
    margin-bottom: 0
  }

  pre {
    background-color: darken(adjust-hue($state-danger-bg, -10), 5%);
    max-height: 20em;
    overflow: scroll;

    br {
      display: none;
    }
  }
}
