.page-header {
  margin-top: 0;
  border: none;

  .btn-group {
    .btn {
      font-weight: normal;
    }
  }
}

.fa {
  font-size: $font-size-base;
}
.fa-ok-sign {
  color: $brand-success;
}
.fa-exclamation-sign {
  color: $brand-warning;
}

.panel {
  .panel-heading {
    padding-bottom: 15px;

    h2 {
      padding: 5px 0;
      margin: 0;

      .btn-group {
        margin: -5px 0;
      }
    }
  }

  .panel-sub {
    padding: 5px 15px;
    border-bottom: 1px solid #eeeeee;
  }

  .panel-body {
    .alert.last {
      margin-bottom: 0;
    }
  }
}

h1,
h2,
h3.modal-title {
  color: #2a8d8e;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

h2 {
  font-size: 23px;
}

h3,
h3.modal-title {
  font-size: 19px;
}

.installers {
  li {
    border-radius: 3px;
    line-height: 2em;
    padding-right: 5px;
  }

  .action > li > span {
    margin-right: 5px;
  }
}

@-moz-document url-prefix() {
  a {
    &.btn {
      @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
    }

    &.btn-lg {
      @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
    }

    &.btn-sm,
    &.btn-xs {
      @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
    }
  }
}
