.page-header {
  margin-top: 0;
  border: none;

  .btn-group {
    .btn {
      font-weight: normal;
    }
  }
}

.fa-check-circle {
  color: $brand-success;
}
.fa-exclamation-circle {
  color: $brand-warning;
}

.panel {
  .panel-heading {
    padding-bottom: 15px;

    h2 {
      padding: 5px 0;
      margin: 0;

      .btn-group {
        margin: -5px 0;
      }
    }
  }

  .panel-sub {
    padding: 5px 15px;
    border-bottom: 1px solid #eeeeee;
  }

  .panel-body {
    .alert.last {
      margin-bottom: 0;
    }
  }

  .panel-plain {
    @include clearfix;
  }

  .panel-footer {
    .progress {
      background-color: lighten(#f5f5f5, 50%);
      margin: 6px 0;
    }
  }
}

.wizard {
  .wizard-nav {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;

    li {
      line-height: 40px;

      &.active {
        a {
          background-color: #08c;
          color: #fff;
        }
      }

      a {
        background-color: #f5f5f5;
        color: #b4b4b4;
        cursor: default;
        padding: 3px 15px 3px 20px;
      }
    }
  }

  .wizard-body {
    padding: 30px;
  }
}

h1,
h2,
h3.modal-title {
  color: #00c081;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

h2 {
  font-size: 23px;
}

h3,
h3.modal-title {
  font-size: 19px;
}

.installers {
  li {
    border-radius: 3px;
    line-height: 2em;
    padding-right: 5px;
  }

  .action > li > span {
    margin-right: 5px;
  }
}

@-moz-document url-prefix() {
  a {
    &.btn {
      @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
    }

    &.btn-lg {
      @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
    }

    &.btn-sm,
    &.btn-xs {
      @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
    }
  }
}
