footer {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;

  a,
  a:hover {
    text-decoration: none;
  }

  span {

    &:before {
      content: " - ";
    }

    &:first-child {
      &:before {
        content: "";
      }
    }
  }
}

@media (max-width: 767px) {
  footer {
    span {
      display: block;

      &:before {
        content: "";
      }
    }
  }
}

.bottom-line {
  background-color: $bc-green-500;
  bottom: 0;
  height: 7px;
  margin-top: 10px;
  width: 100%;
}
