footer {
  color: #999;
  font-size: 12px;
  padding: 0 20px 20px 20px;
  text-align: center;

  a,
  a:hover {
    text-decoration: none;
  }

  span {
    &:before {
      content: " - ";
    }

    &:first-child {
      &:before {
        content: "";
      }
    }
  }
}

@media (max-width: 767px) {
  footer {
    span {
      display: block;

      &:before {
        content: "";
      }
    }
  }
}
