footer {
  bottom: 0;
  color: #999;
  font-size: 12px;
  position: absolute;
  text-align: center;
  width: 100%;

  a,
  a:hover {
    text-decoration: none;
  }

  span {
    a {
      color: #00c081;
    }

    &:before {
      content: " - ";
    }

    &:first-child {
      &:before {
        content: "";
      }
    }
  }
}

@media (max-width: 767px) {
  footer {
    span {
      display: block;

      &:before {
        content: "";
      }
    }
  }
}

.bottom-line {
  @include gradient-horizontal(#00c081, #02d35f, 0%, 90%);
  bottom: 0;
  height: 7px;
  margin-top: 10px;
  width: 100%;
}
