.navbar-inverse {
  .navbar-brand {
    padding: 0 15px;

    .title {
      display: block;
      text-indent: -100000px;
      background: transparent image-url("logo.png") no-repeat;
      width: 220px;
      height: 36px;
    }
  }

  .panel .panel-heading {
    padding: 5px 15px;

    h2 {
      font-size: 18px;
    }
  }

  .navbar-right {
    .caret {
      color: #00c081;
    }
  }
}
