language: ruby
sudo: required
cache: bundler
dist: trusty

rvm: 2.1.9

env: SKIP_CHECKS=yes

matrix:
  include:
    - gemfile: crowbar_framework/Gemfile
      script:
       - cd crowbar_framework
       - bin/bundle install
       - bin/rake db:create db:migrate
       - bundle exec rake spec brakeman:run
       # ignore rest-client issues, chef 10 requires that
       - bin/bundle exec bundle-audit update
       - bin/bundle exec bundle-audit check --ignore CVE-2015-1820 OSVDB-117461
    - gemfile: chef/cookbooks/barclamp/Gemfile
      script:
       - cd chef/cookbooks/barclamp && bundle exec rake
    - env: SYNTAX_CHECKS
      gemfile: crowbar_framework/Gemfile
      script:
       - crowbar_framework/bin/bundle exec knife cookbook test -c .knife-test.rb -a
    - env: KITCHEN_TESTS
      gemfile: chef/Gemfile
      script:
        - cd chef
        - bundle exec kitchen test


addons:
  apt:
    packages:
      - libarchive-dev
