language: ruby
sudo: false
cache: bundler
dist: trusty

rvm: 2.1.9

env: SKIP_CHECKS=yes

matrix:
  include:
    - gemfile: crowbar_framework/Gemfile
      script:
       - cd crowbar_framework
       - bin/bundle install
       - bin/rake db:create db:migrate
       - bundle exec rake spec brakeman:run
       # ignore rest-client issues, chef 10 requires that
       - bin/bundle exec bundle-audit update
       - bin/bundle exec bundle-audit check --ignore CVE-2015-1820 OSVDB-117461 CVE-2019-11068
    - gemfile: chef/cookbooks/barclamp/Gemfile
      script:
       - cd chef/cookbooks/barclamp && bundle exec rake

addons:
  apt:
    packages:
      - libarchive-dev

# pin bundler to avoid problems with old ruby and new deps
before_install:
  - rvm @global do gem install bundler -v '< 2.0.0'
