[project]
	description = Core deployment for Crowbar
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Adam Spiers (aspiers)
[access "refs/for/refs/*"]
	read = group user/Adam Spiers (aspiers)
	push = group user/Adam Spiers (aspiers)
	label-Code-Review = -2..+2 group user/Adam Spiers (aspiers)
	label-Verified = -1..+1 group user/Adam Spiers (aspiers)
	rebase = group user/Adam Spiers (aspiers)
	removeReviewer = group user/Adam Spiers (aspiers)
	submit = group user/Adam Spiers (aspiers)
[access "refs/heads/*"]
	read = group user/Adam Spiers (aspiers)
	create = group user/Adam Spiers (aspiers)
	push = +force group user/Adam Spiers (aspiers)
	pushMerge = group user/Adam Spiers (aspiers)
[access "refs/tags/*"]
	push = group user/Adam Spiers (aspiers)
	push = +force group user/Adam Spiers (aspiers)
