@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "content/global";
@import "content/alert";
@import "content/header";
@import "content/content";
@import "content/form";
@import "content/drag";
@import "content/table";
@import "content/footer";
