@import "bootstrap/variables";
@import "bootstrap/mixins";

@function twbs-font-path($path) {
  @return font-path($path);
}

@function twbs-image-path($path) {
  @return image-path($path);
}

$bootstrap-sass-asset-helper: true;

.bottom-line {
  @include gradient-horizontal(#2b9a9b, #40b178, 0%, 90%);
  background: #1fad7a;
}

// We need to link to logo.png again for the asset compilation
.navbar-inverse {
  .navbar-brand {
    .title {
      background: transparent url("/assets/logo.png") no-repeat;
    }
  }
}
