[Unit]
Description=Crowbar
After=network.target syslog.target remote-fs.target chef-server.service
Requires=apache2.service

[Service]
Type=simple
User=crowbar
Group=crowbar
KillMode=control-group
TimeoutSec=300
TimeoutStopSec=10

WorkingDirectory=/opt/dell/crowbar_framework

Environment="CROWBAR_ENV=production"
Environment="CROWBAR_THREADS=16"
Environment="CROWBAR_WORKERS=2"
Environment="CROWBAR_LISTEN=127.0.0.1"
Environment="CROWBAR_PORT=3000"
EnvironmentFile=-/etc/sysconfig/crowbar

ExecStartPre=/usr/bin/rm -f /var/run/crowbar/looper-chef-client.lock /var/run/crowbar/chef-client.lock
ExecStart=/usr/bin/puma -C /opt/dell/crowbar_framework/config/puma.rb
ExecStop=/usr/bin/pumactl -S /opt/dell/crowbar_framework/tmp/pids/puma.state stop
ExecReload=/usr/bin/pumactl -S /opt/dell/crowbar_framework/tmp/pids/puma.state restart


[Install]
WantedBy=multi-user.target
