[Unit]
Description=Crowbar
After=network.target syslog.target remote-fs.target chef-server.service
Requires=apache2.service

[Service]
Type=simple
User=crowbar
Group=crowbar
KillMode=control-group
TimeoutSec=300
TimeoutStopSec=10

WorkingDirectory=/opt/dell/crowbar_framework

ExecStartPre=/usr/bin/rm -f /var/run/crowbar/looper-chef-client.lock /var/run/crowbar/chef-client.lock
ExecStartPre=/usr/bin/mkdir -p /opt/dell/crowbar_framework/tmp/pids/
ExecStartPre=/usr/bin/chown crowbar. /opt/dell/crowbar_framework/tmp/pids/
ExecStart=/usr/bin/passenger start
ExecStop=/usr/bin/passenger stop
ExecReload=/usr/bin/passenger-config restart-app /opt/dell/crowbar_framework

[Install]
WantedBy=multi-user.target
