.panel.panel-default.panel-danger
  .panel-heading
    A required post parameter is missing

  .panel-body
    %p
      Please consult your log files, there is some required post parameter
      missing. If this is anapplication error, please visit the
      <a href="http://github.com/crowbar/crowbar/wiki/error">Crowbar site</a>.
      Return to the <a href="/">dashboard</a>.
