%span.led{ :class => status, :title => t(status, :scope => "status", :default => status.titlecase) }
= link_to "#{name.titlecase} Cluster", show_proposal_path(:controller => "pacemaker", :id => name)
